<template>
  <div class="app">
    <div class="sidebar">
      <room-section></room-section>
    </div>
    <message-section></message-section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import RoomSection from '../components/RoomSection.vue'
import MessageSection from '../components/MessageSection.vue'
import router from '../router'
import io from 'socket.io-client'
const msocket = io('http://' + window.location.hostname + ':8890')

export default {
  components: {
    RoomSection,
    MessageSection
  },
  computed: {
    ...mapGetters([
      'currentUser'
    ])
  },
  methods: {
    ...mapActions([
      'getUserAsset'
    ])
  },
  mounted() {
    if(this.currentUser == null){
      router.push('/')
    }else{
      this.getUserAsset({
        teamId : 1,
        userId : this.currentUser.id
      })
    }
  }
}
</script>
