<template>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="content">
                    <h1>Login</h1>
                    <input type="text" v-model="email" placeholder="Email Address">
                    <input type="password" v-model="password" placeholder="Password" @keyup.enter="attemptLogin">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data(){
    return {
      email : '',
      password : ''
    }
  },
  methods : {
    ...mapActions([
      'loginUser'
    ]),
    attemptLogin(){
      /*
      const credentials = {
        email : this.email,
        password : this.password
      }
      */
      const credentials = {
        email : 'bjackson@vimbel.com',
        password : 'password'
      }
      this.loginUser(credentials)
    }
  },
  mounted(){
    this.attemptLogin()
  }
}
</script>
