<template>
  <li class="message-list-item">
    <h5 class="message-author-name">{{ message.user.first_name }} {{ message.user.last_name }}</h5>
    <div class="message-time">
      {{ message.created_at | time }}
    </div>
    <div class="message-text" v-if="!message.is_attachment">{{ message.content }}</div>
    <div class="message-text" v-if="message.is_attachment">Uploaded Attachment - {{ message.attachment.title }} - {{ message.attachment.extension }}</div>
    <img style="max-height: 150px;" v-if="message.is_attachment"></img>
  </li>
</template>

<script>
export default {
  props: ['message'],
  methods : {
    imageUrl(message){
      const aws = 'https://s3.amazonaws.com/elasticbeanstalk-us-east-1-943296196941/'
      return aws + message.attachment.url
    }
  }
}
</script>
