<template>
  <div class="message-section">
    <ul class="message-list" ref="list">
      <message v-for="message in currentMessages" track-by="id" :message="message"> </message>
    </ul>
    <div class="bottom-bar">
      <div class="core-row">
        <i class="icon ion-ios-more" @click="toggleActionMenu"></i>
        <i class="icon ion-happy-outline"></i>
        <textarea class="message-composer" @keyup.enter="trySendMessage" type="text" placeholder="Enter your message..." v-model="userInput.text" rows="1"></textarea>
        <i class="icon ion-android-send" @click="trySendMessage"></i>
      </div>
      <div class="action-menu" v-bind:class="{ visible: actionMenuOpen }">
        <div class="action-menu-item" @click="openUploadModal">
          <i class="icon ion-upload"></i>
          <p>Upload Attachment</p>
        </div>
        <div class="action-menu-item" @click="startVideoChat">
          <i class="icon ion-ios-videocam"></i>
          <p>Start Video Chat</p>
        </div>
        <div class="action-menu-item" @click="joinVideoChat">
          <i class="icon ion-ios-videocam"></i>
          <p>Join Video Chat</p>
        </div>
      </div>
    </div>
    <div class="modal" v-bind:class="{ visible: uploadModalOpen }">
      <div class="modal-content">
        <div class="modal-body">
          <div class="content">
            <h1>Upload</h1>
            <input type="text" v-model="attachmentTitle" placeholder="Title" v-if="queuedFile.name">
            <span>{{ queuedFile.name }}</span>
            <div v-if="!queuedFile.name">
              <div class="dropzone" id="dropzone"></div>
            </div>
            </br>
            <button @click="beginUpload">Upload</button>
          </div>
        </div>
      </div>
    </div>
    <div class="video-chat">
      <video id="localVideo"></video>
      <div id="remoteVideos"></div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Message from './Message.vue'
import Dropzone from 'Dropzone'
import SimpleWebRTC from 'SimpleWebRTC'
import store from '../store'
import autosize from 'autosize'
import io from 'socket.io-client'
const msocket = io('http://' + window.location.hostname + ':8890')

export default {
  components: { Message },
  data(){
    return {
      rtc : null,
      dropzone : null,
      actionMenuOpen : false,
      uploadModalOpen : false,
      attachmentTitle : '',
      uploadModalFile : {},
      userInput : {
        text : ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'currentRoom', 'currentMessages', 'currentUser', 'currentTeam'
    ]),
    queuedFile(){
      return this.uploadModalFile
    }
  },
  methods: {
    ...mapActions([
      'addMessageFromSocket', 'sendMessage'
    ]),
    trySendMessage() {
      const text = this.userInput.text
      if (text.trim()){
        this.sendMessage({
          text : text,
          userId : this.currentUser.id,
          roomId : this.currentRoom.id
        })
        this.userInput.text = ''
        autosize.update(document.querySelector('textarea'))
      }
    },
    toggleActionMenu(){
      this.actionMenuOpen = !this.actionMenuOpen
    },
    startVideoChat(){
      this.rtc.startLocalVideo()
      if(this.rtc.testReadiness()){
        this.rtc.createRoom('main', function(){

        })
      }
      if(this.actionMenuOpen)
        this.toggleActionMenu()
    },
    joinVideoChat(){
      this.rtc.startLocalVideo()
      if(this.rtc.testReadiness()){
        this.rtc.joinRoom('main', function(){

        })
      }
    },
    openUploadModal(){
      if(!this.uploadModalOpen){
        this.uploadModalOpen = true
        this.toggleActionMenu()
      }
    },
    initDropzone(){
      this.dropzone = new Dropzone("#dropzone", {
        autoProcessQueue: true,
        paramName: 'file',
        uploadMultiple: false,
        acceptedFiles: 'image/*',
        maxFiles: 1,
        url: 'http://' + window.location.hostname + ':8000' + '/api/uploads/attachment',
        success: function(file, message){
          store.commit('RECEIVE_MESSAGE', message)
          this.uploadModalOpen = false
        },
        previewTemplate: '<div style="display:none"></div>'
      })
      this.dropzone.on('sending', function(file, xhr, formData) {
        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('vmbtoken'))
        formData.append('user_id', 3)
        formData.append('team_id', 1)
        formData.append('room_id', 1)
        formData.append('title', this.attachmentTitle)
      })
      this.dropzone.on('addedfile', function(file){
        this.uploadModalFile = file
        this.attachmentTitle = file.name
      })
    },
    initRTC(){
      this.rtc = new SimpleWebRTC({
        localVideoEl: 'localVideo',
        remoteVideosEl: 'remoteVideos',
        url: 'http://' + window.location.hostname + ':8888'
      })
      this.rtc.on('videoAdded', function(video, peer) {
        console.log(peer)
      })
    },
    beginUpload(){
      this.dropzone.processQueue()
    }
  },
  mounted(){
    autosize(document.querySelector('textarea'));
    document.querySelector('textarea').addEventListener('autosize:resized', function(){
      console.log('textarea height updated');
    });
    this.initDropzone()
    msocket.on('new-message', function(message) {
      this.addMessageFromSocket(message)
    }.bind(this))
    Dropzone.autoDiscover = false;
    this.initRTC()
  }
}
</script>

<style>
  textarea {
    resize: none !important;
  }
</style>
