<template>
  <li class="room-list-item" :class="{ active: room.id === currentRoom.id }" @click="goToRoom(room.id)">
    <h5 class="room-name">{{ room.name }}</h5>
    <div class="room-time">{{ room.lastMessage.created_at | time }}</div>

    <div class="room-last-message" v-if="!room.lastMessage.is_attachment">{{ room.lastMessage.content }}</div>
    <div class="room-last-message" v-if="room.lastMessage.is_attachment">Uploaded Attachment</div>
  </li>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: ['room'],
  computed: {
    ...mapGetters([
      'currentRoom'
    ])
  },
  methods: {
    ...mapActions([
      'switchRoom'
    ]),
    goToRoom(id){
      if(this.currentRoom.id !== id){
        this.switchRoom(id)
      }
    }
  }
}
</script>
