<template>
  <div class="room-section">
    <p>Rooms</p>
    <ul class="room-list">
      <room v-for="room in rooms" track-by="id" :room="room"></room>
    </ul>
    <!--
     <p>Direct Messages</p>
     <ul class="room-list">
      <room v-for="room in rooms" track-by="id" :room="room"></room>
    </ul>
    -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Room from './Room.vue'

export default {
  components: { Room },
  computed: {
    ...mapGetters([
      'rooms'
    ])
  }
}
</script>

<style type="text/css">
  .room-section > p {
    padding: 14px;
    margin: 0;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
  }
</style>
