body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  font-weight: 300;
}

.sidebar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  overflow: auto;
  border-right: 1px solid #ccc;
}

.room-list {
  height: 100%;
}

.message-list, .room-list {
  font-size: 16px;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  height: 100%;
}

.message-section {
  position: absolute;
  right: 0;
  width: calc(100% - 320px);
  height: 100%;
  left: 320px;
}

.room-section {
  height: auto;
}

.message-list-item, .room-list-item {
  list-style: none;
  padding: 12px 14px 14px;
}

.message-list-item:last-child {
  padding-bottom: 5em;
}

.room-list-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.room-list:hover .room-list-item {
  background-color: #fff;
}

.room-list-item.active,
.room-list:hover .room-list-item.active,
.room-list:hover .room-list-item.active:hover {
  background-color: #efefff;
  cursor: default;
}

.message-author-name,
.room-name {
  color: #66c;
  float: left;
  font-size: 13px;
  margin: 0;
}

.message-time, .room-time {
  color: #aad;
  float: right;
  font-size: 12px;
}

.message-text, .room-last-message {
  clear: both;
  font-size: 14px;
  padding-top: 10px;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  z-index: 900;
  background: white;
}

.bottom-bar .core-row {
  display: flex;
  padding: 14px 10px;
  align-items: center;
}

.bottom-bar .action-menu {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  bottom: 52px;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  background: white;
}

.bottom-bar .action-menu.visible {
  visibility: visible;
}

.bottom-bar .action-menu .action-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 35px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.bottom-bar .action-menu .action-menu-item > i {
  margin-right: 10px;
  font-size: 18px;
}

.bottom-bar .action-menu .action-menu-item > p {
  font-size: 14px;
  margin: 0;
}

.bottom-bar i {
  padding: 0;
  margin: 0;
  line-height: 0;
  cursor: pointer;
  color: #66c;
}

.bottom-bar .core-row i:not(:last-child) {
  padding-right: 14px; 
  font-size: 18px;
}

.bottom-bar .core-row i:first-child {
  font-size: 24px;
}

.bottom-bar .core-row i:last-child {
  padding-left: 10px;
}

.bottom-bar .message-composer {
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  margin: 0;
  outline: none;
  border: none;
}

.video-chat {
  position: absolute;
  bottom: 52px;
  left: 0;
  display: flex;
  right: 0;
  align-content: bottom;
}

.video-chat video {
  height: 150px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  visibility: hidden;
}

.modal.visible {
  visibility: visible;
}

.modal .modal-content {
  display: table;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  width: 500px;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  text-align: center;
  border: 1px solid #ccc;
}

.modal .modal-body {
  z-index: 99999;
  background: white;
}

.modal .modal-body .content {
  padding: 1.4em 1em;
}

.modal .modal-body .content input {
    display: table;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 60%;
    height: 20px;
    padding: 10px;
}

.modal .modal-body .content button {
    display: table;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 60%;
    height: 50px;
}

